absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyascii
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
async-timeout
attrs
audioread
av
babel
bangla
beautifulsoup4
bleach
blinker
blis
bnnumerizer
bnunicodenormalizer
boto3
botocore
Brotli
catalogue
certifi
cffi
charset-normalizer
clean-fid
click
clip-anytorch
cloudpathlib
colorama
coloredlogs
comm
confection
contourpy
coqpit
csvw
ctranslate2
cycler
cymem
Cython
dateparser
dctorch
debugpy
decorator
defusedxml
Distance
distro
dlinfo
dnspython
docker-pycreds
docopt
einops
encodec
exceptiongroup
faster-whisper
filelock
Flask
flask-cors
flatbuffers
fonttools
frozenlist
fsspec
ftfy
funcy
g2p-en
g2pkk
gitdb
GitPython
grpcio
gruut
gruut-ipa
gruut_lang_de
gruut_lang_en
gruut_lang_es
gruut_lang_fr
gunicorn
h11
hangul-romanize
httpcore
httpx
huggingface-hub
humanfriendly
HyperPyYAML
idna
imageio
imbalanced-learn
inflect
ipykernel
ipython
isodate
itsdangerous
jamo
jax
jaxlib
jieba
Jinja2
jiter
jmespath
joblib
jsonlines
jsonmerge
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
k-diffusion
kiwisolver
kornia
kornia_rs
langcodes
langdetect
language-tags
language_data
lazy_loader
librosa
llvmlite
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
mediapipe
ml_dtypes
more-itertools
mpmath
msgpack
multidict
murmurhash
mutagen
networkx
nltk
noisereduce
num2words
numba
numpy
onnxruntime
openai
openai-whisper
opencv-contrib-python
opencv-python
opt_einsum
packaging
pandas
phonemizer
pillow
platformdirs
pooch
praat-parselmouth
preshed
protobuf
psutil
pybind11
pycparser
pydantic
pydub
Pygments
PyJWT
pymongo
pynndescent
pyparsing
pypinyin
pyreadline3
pysbd
python-crfsuite
python-dateutil
python-dotenv
pytz
rdflib
regex
requests
resampy
Resemblyzer
rich
ruamel.yaml
ruamel.yaml.clib
safetensors
scikit-image
scikit-learn
scipy
seaborn
segments
sentencepiece
sentry-sdk
setproctitle
six
smart-open
smmap
sniffio
sounddevice
soundfile
soxr
spacy
spacy-legacy
spacy-loggers
speechbrain
srsly
sympy
tensorboard
tensorboard-data-server
tensorboardX
TextGrid
thinc
threadpoolctl
tifffile
tiktoken
tokenizers
torch
torchaudio
torchcrepe
torchdiffeq
torchsde
torchvision
tqdm
transformers
typeguard
typer
typing
typing_extensions
tzdata
tzlocal
umap-learn
Unidecode
unidic-lite
uritemplate
urllib3
wandb
wasabi
weasel
webencodings
webrtcvad
Werkzeug
whisper
wikipedia
Wikipedia-API
wrapt
yarl
